@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, aqua, night, forest, dim;
}

[align="left"] { text-align: left; }
[align="center"] { text-align: center; }
[align="right"] { text-align: right; }
